table tr td input{
height: 30px;
}
.searchBar
{
  height: 30px;
  border-radius:100px;
  padding:  0 10px ;
  border-color: skyblue;
}
table{
  width: 20%;
  text-align: center;
  border: 1px solid skyblue;
  margin: 10px auto;

}
table caption
{
  padding: 10px;
}
img 
{
  border-radius: 10px;
  
}
.title
{
  background-color: skyblue;
  color: white;
  text-align: left;
}
